<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPL Insights</title>
    <link rel="stylesheet" href="css/Base.css">
    <link rel="stylesheet" href="css/Community.css">
</head>

<body>
    <a href="Main.html" class="skip">본문바로가기</a>
    <header>
        <h1><a href="Main.html">EPL Insights</a></h1>
        <h2>로그인관련서비스</h2>
        <nav class="LogIn">
            <ul>
                <li><a href="#a">LOGIN</a></li>
                <li><a href="#a">REGISTER</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>주 메뉴</h2>
        <nav class="MainMenu">
            <ul>
                <li><a href="Main.html">Main</a></li>
                <li><a href="ScheduleAndResults.html">경기 일정과 결과</a></li>
                <li><a href="Community.html" class="select">소통 커뮤니티</a></li>
                <li><a href="GamePrediction.html">승부 예측 시스템</a></li>
                <li><a href="Search.html">축구 룰 및 용어 검색</a></li>
                <li><a href="OpinionAndNews.html">전문가 의견 및 뉴스 제공</a></li>
            </ul>
        </nav>
        <h2>소통 커뮤니티</h2>
        <header class="Community">
            <ul>
                
            </ul>
        </header>
    </section>
</body>

</html>