.skip {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #000;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s;
}

.skip:focus {
    top: 0;
}

.select {
    background: lightgray;
}

header {
    text-align: center;
}

header h1 {
    position: absolute;
    left: 75px;
    top: 0;
}

header h1 a {
    display: block;
    width: 130px;
    height: 50px;
    font-size: 20px;
}

header h2 {
    position: absolute;
    left: -5000px;
}

header .LogIn {
    position: absolute;
    right: 75px;
    top: 0;
}

header .LogIn li {
    display: inline-block;
}

header .LogIn li a {
    display: block;
    width: 100px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    color: #333;
    line-height: 40px;
}

section {
    text-align: center;
}

section h2 {
    position: absolute;
    left: -5000px;
}

section .MainMenu {
    width: 90%;
    position: absolute;
    left: 75px;
    top: 120px;
    background: rgb(236, 236, 236);
}

section .MainMenu li {
    display: inline-block;
    padding-right: 50px;
}

section .MainMenu li a {
    display: block;
    width: 100px;
    height: 30px;
    font-size: 13px;
    color: #333;
    line-height: 30px;
}

section .MainMenu li a:hover {
    background: lightgray;
}