<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="col-lg-4">
    <div class="card mb-4">
        <div class="card-header">Login</div>
        <div class="card-body">
            <div id="login-form">
                <div class="input-group mb-3">
                    <input class="form-control" type="text" id="username" placeholder="Enter username..." aria-label="Enter username..." aria-describedby="button-login" />
                </div>
                <div class="input-group mb-3">
                    <input class="form-control" type="password" id="password" placeholder="Enter password..." aria-label="Enter password..." aria-describedby="button-login" />
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary" id="button-login" type="button">Login</button>
                </div>
                <div class="text-center mt-3">
                    <a href="signup.html" class="text-decoration-none">회원가입</a>
                </div>
            </div>

            <div id="welcome-message" style="display: none;">
                <p>환영합니다, <span id="nickname"></span> 님!</p>
                <button class="btn btn-secondary" id="logout" type="button">로그아웃</button>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">Side Widget</div>
        <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!
        </div>
    </div>
</div>
</body>
</html>