<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPL Insights</title>
    <link rel="stylesheet" href="css/Base.css">
    <link rel="stylesheet" href="css/Schedule.css">
</head>

<body>
    <a href="Ranking.html" class="skip">본문바로가기</a>
    <header>
        <!--로고 부분-->
        <h1><a href="Ranking.html">EPL Insights</a></h1>
        <!--로그인-->
        <h2>로그인관련서비스</h2>
        <nav class="LogIn">
            <ul>
                <li><a href="#a">LOGIN</a></li>
                <li><a href="#a">REGISTER</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <!--메뉴들-->
        <h2>주 메뉴</h2>
        <nav class="MainMenu">
            <ul>
                <li><a href="Ranking.html">순위</a></li>
                <li><a href="News.html">뉴스</a></li>
                <li><a href="Videos.html">영상</a></li>
                <li><a href="Schedule.html" class="select">일정</a></li>
                <li><a href="Photos.html">포토</a></li>
                <li><a href="Prediction.html">승부 예측</a></li>
                <li><a href="Discussion.html">토론</a></li>
                <li><a href="Information.html">내 정보</a></li>
            </ul>
        </nav>
        <!--내용-->
        <h2>일정</h2>
        <header class="#contents">
            <ul>
                
            </ul>
        </header>
    </section>
</body>

</html>